/* loading animation */
#listLoader.loading > img {
    display: block;
}

#listLoader.loaded > img {
    display: none;
}

/* load more text message */

#listLoader.loaded > button {
    display: block;
}

#listLoader.loading > button,
#listLoader.end > button {
    display: none;
}

/* indicated there is no more date to load */
#listLoader.loading > span ,
#listLoader.loaded > span {
    display: none;
}

#listLoader.end > span {
    display: block;
}


